@font-face {
  font-family: "Rubik_light";
  src: url("../Fonts/Rubik-Light.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("../Fonts/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubik_medium";
  src: url("../Fonts/Rubik-Medium.ttf");
}
@font-face {
  font-family: "Rubik_bold";
  src: url("../Fonts/Rubik-Bold.ttf");
}
@font-face {
  font-family: "DM Serif Display";
  src: url("../Fonts/DMSerifDisplay-Regular.ttf");
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: #fef8f5;
  overflow-x: hidden;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

.width_container {
  width: 1120px;
  margin: auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 1280px) {
  .width_container {
    padding: 0 20px;
    width: 100%;
  }
}

.button_arrow_right {
  padding: 20px 93px 20px 25px;
  background-image: url("../Images/left_arrow.svg");
  background-repeat: no-repeat;
  background-position: right 27px center;
  background-size: auto 12px;
  background-color: #ee4d47;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.main_title {
  margin: 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #ee4d47;
  text-transform: uppercase;
}

.main_text {
  margin: 0;
  font-family: "Rubik_light";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  color: #402b2b;
}
