.top {
  width: 100%;
  height: 937px;
  background-image: url("../Images/Scene.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

@media screen and (max-width: 1280px) {
  .top {
    height: 0;
    padding-bottom: 80%;
    background-size: auto 94%;
  }
}

@media screen and (max-width: 769px) {
  .top {
    padding-bottom: 590px;
    background-position: right -199px top;
    background-size: auto 100%;
  }
}

.top_nav {
  position: relative;
  height: 60px;
  width: 100%;
  padding: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1280px) {
  .top_nav {
    width: 100%;
    padding-top: 20px;
  }
}

@media screen and (max-width: 769px) {
  .top_nav {
    height: 50px;
  }
}

.top_logo_wrapper {
  height: 50px;
}

@media screen and (max-width: 769px) {
  .top_logo_wrapper {
    height: 40px;
  }
}

.top_logo {
  height: 100%;
  width: auto;
}

.top_buttons_container {
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 769px) {
  .top_buttons_container {
    display: none;
  }
}

.top_buttons_container li {
  height: 100%;
  margin: 0 25px;
}

@media screen and (max-width: 1024px) {
  .top_buttons_container li {
    margin: 0;
  }
}

.top_buttons_container li button {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.top_buttons_container .top_button_active {
  background: #ee4d47;
  border-radius: 5px;
  margin: 0;
  margin-left: 25px;
}

.top_title {
  width: 741px;
  margin: 94px 0 60px 0;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 100%;
  color: #ffffff;
  box-sizing: border-box;
}

@media only screen and (max-width: 1280px) {
  .top_title {
    width: 100%;
    margin: 8% 0 5% 0;
    padding-right: 40%;
    font-size: 80px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .top_title {
    text-align: center;
    font-size: 64px;
    padding: 0 16%;
  }
}

@media screen and (max-width: 769px) {
  .top_title {
    margin: 70px 0 40px 0;
    font-size: 50px;
  }
}

@media screen and (max-width: 550px) {
  .top_title {
    padding-right: 0;
    padding-left: 0;
  }
}

@media only screen and (max-width: 1280px) {
  .top_button_start {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .top_button_start {
    margin: auto;
    display: block;
  }
}

@media screen and (max-width: 769px) {
  .top_button_start {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}

.mobel_container {
  position: relative;
  height: 237px;
}

@media only screen and (max-width: 1280px) {
  .mobel_container {
    height: 0;
    padding-bottom: 5%;
  }
}

@media only screen and (max-width: 769px) {
  .mobel_container {
    padding-bottom: 75px;
  }
}

@keyframes driveRight {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.mobel_wrapper {
  position: absolute;
  bottom: 0;
  height: 395px;
}

@media only screen and (max-width: 1280px) {
  .mobel_wrapper {
    height: 445%;
  }
}

@media only screen and (max-width: 769px) {
  .mobel_wrapper {
    height: 230%;
  }
}

#mobel {
  position: relative;
  left: -100%;
  display: block;
  height: 100%;
}

.mobel_drive {
  animation: driveRight 700ms linear forwards;
}

.top_hamburger {
  height: 50px;
  width: 50px;
  padding: 0;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: #ffffff;
}

@media only screen and (min-width: 769px) {
  .top_hamburger {
    display: none;
  }
}

.top_hamburger span {
  display: block;
  position: absolute;
  height: 5px;
  width: 70%;
  background: #ee4d47;
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.top_hamburger span:nth-child(1) {
  top: 11px;
  left: 7px;
}

.top_hamburger span:nth-child(2),
.top_hamburger span:nth-child(3) {
  top: 22px;
  left: 7px;
}

.top_hamburger span:nth-child(4) {
  top: 33px;
  left: 7px;
}

.top_hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.top_hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.top_hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.top_hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.top_buttons_mobile {
  right: -20px;
  flex-direction: column;
  width: 200px;
  height: auto;
  position: absolute;
  top: 100%;
  background-color: #ffffff;
  padding: 30px 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

@media only screen and (min-width: 769px) {
  .top_buttons_mobile {
    display: none;
  }
}

.top_buttons_mobile_show {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.top_buttons_mobile li a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 11px 24px;
  text-decoration: none;
  color: #ee4d47;
  cursor: pointer;
}

.top_button_mobile_active {
  background: #ee4d47;
  border-radius: 5px;
  margin: 0;
}

.top_buttons_mobile .top_button_mobile_active a {
  color: #ffffff;
}
